/* stylesheet.css */

h1{
    text-align: center;
    font-family: "Monaco", "Courier New", monospace;
    font-weight: 700px;
    border-bottom-style: dashed;
    padding: 25px;
}

body{
    background-color: #87CEEB;
    margin:20px;
}

ul{
    text-align: center;
    font-family: "Monaco", monospace;
    font-weight: 400px;
    list-style-position: inside;

}