/* stylesheet.css */

h1{
    text-align: center;
    font-family: "Monaco", monospace;
    font-weight: 700px;
}

body{
    background-color: #87CEEB;
}

ul{
    text-align: center;
    font-family: "Monaco", monospace;
    font-weight: 400px;
    list-style-position: inside;
}